

/*******************Reset Css****************/

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}



html,
body
    {
    padding: 0;
    margin: 0;
    border-radius: 0;
    overflow-x: hidden;

}

em {
    font-style: normal;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: #f6f6f6;
}

a,
button,
input,
input[type="buttton"],
input[type="submit"],
.btn {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    outline: none !important;
    text-decoration: none;
    border: none;
    font-style: normal;
    text-decoration: none;
}

input {
    width: 100%;
}

img,
figure {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}

input,
textarea {
    padding: 5px 10px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}


/*Buttons*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #000;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
    color: #000;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #000;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    color: #000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.noradius {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently  supported by Chrome and Opera */
}

.pointerNone {
    pointer-events: none;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
}

.relative {
    position: relative;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

p{
    color: #666;
}
/*******************Reset Css****************/